.container {
  margin-top: 1rem;
}
.radioContainer {
  display: flex;
  margin-top: 2rem;
  gap: 3rem;
}
.inputs {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.inputsQn {
  height: 2.5rem;
  box-sizing: border-box;
  border: none;
  font-size: 1.2rem;
  padding: 8px;
  border-radius: 7px;
  width: 31rem;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
}
.optDiv {
  display: flex;
  align-items: center;
  gap: 8px;
}
.inputOpt {
  height: 2rem;
  box-sizing: border-box;
  border: none;
  font-size: 1rem;
  padding: 8px;
  border-radius: 7px;
  width: 12rem;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
}
.customHolder::placeholder {
  color: white;
}
